body {
    font-family: arial;
    text-align: center;
    background-color: chartreuse;
}

#word-input {
    margin: 30px;
}

#submit {
    margin: 20px;
    height: 30px;
    width: 80px;
    border-radius: 10%;
    background-color: navy;
    font-family: arial;
    color: white;
    font-weight: bold;
}